* {
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
}
#app{
    padding: 0;
}
img{
    height: 140px;
    width: 140px;
    display: flex;
    align-self: center;
    --b: 5px;  /* border thickness*/
    --s: 80px; /* size of the corner*/
    --g: 20px; /* the gap*/
    --c: #EDC951; 
    padding: calc(var(--b) + var(--g));
    background-image:
      conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
    background-position:
      var(--_p,0%) var(--_p,0%),
      calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 
      background-position .3s var(--_i,.3s), 
      background-size .3s calc(.3s - var(--_i,.3s));
    }
    img:hover {
    background-size: calc(90% - var(--g)) calc(100% - var(--g));
    --_p: calc(var(--g)/2);
    --_i: 0s;
  }

.v-btn{
    letter-spacing: 0;
    text-transform: none;
    margin: 0;
    width: 100%;
    color: hsla(160, 100%, 37%, 1);
}
h1{
    font-size: x-large;
    margin-bottom: 2%;
}
.recuadro-large{
    background-color: #e6ebee;
    padding: 2%;
    margin-top: 2%;
}
thead, tbody{
    align-content: center;
}
thead{
    height: 60px;
    text-align: left;
    background-color: #d5d7d8;
}
th{
    padding: 2%;
    width: auto;
}
td{
    width: auto;
}
.recuadro-small{
    background-color: #e6ebee;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
}
.recuadro-small h1{
    margin-bottom: 5%;
}
.v-breadcrumbs{
    margin-bottom: 5%;
  }
.v-breadcrumbs-divider,.v-breadcrumbs-item{
    width: fit-content;
  }  